* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #99DBF5;
  justify-content: space-between;
}
main,
header,
footer {
  width: 60vw;
}
img {
  width: 20vw;
}
nav {
  background-color: #9AC5F4;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 5vh;
  justify-content: space-between;
  position: fixed;
  padding-right: 1rem;
}
nav div {
  flex-wrap: wrap;
  display: flex;
  font-size: 1.5rem;
  text-decoration: none;
  width: 40vw;
  justify-content: space-around;
}
.a {
  text-decoration: none;
  align-self: center;
}
.a:hover {
  background-color: black;
  border-radius: 0.6rem;
}
.logo {
  display: flex;
  width: 5vw;
  height: 100%;
  justify-self: flex-end;
  background-color: antiquewhite;
}
footer {
  width: 100vw;
  background-color: rgb(255, 64, 64);
  align-self: flex-end;
  text-align: center;
}
header {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-self: flex-start;
  height: 18vh;
  text-align: center;
  justify-content: space-between;
  align-content: flex-end;
  background-color: #A7ECEE;
}
header p {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-self: flex-end;
}
h1 {
  width: 100vw;
  display: flex;
  height: 5rem;
  font-size: 3rem;
  align-self: center;
  justify-content: center;
}
#section-1 img {
  width: 100vw;
  height: 50vh;
  object-fit: contain;
}
footer {
  width: 100vw;
  align-items: center;
  background-color: #9AC5F4;
  font-weight: bold;
}
main {
  width: 100vw;
  height: 78vh;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}
#section-2 {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: flex-end;
  background-color: #A7ECEE;
}
#section-2 h4 {
  flex-wrap: wrap;
  width: 22vw;
  display: flex;
  justify-self: flex-start;
  font-size: 1.7rem;
  align-content: center;
  font-family: 'Kanit', sans-serif;

}
#index-i-2{
  display: flex;
  flex-wrap: wrap;
}

/* AboutUs */
#body-about{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  align-content: space-between;
  justify-content: center;
}
#header-about>div{
  padding-top:0;
  width: 100vw;
  height: 5vh;
  font-size: 1.5rem;
}

#header-about{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 8.7vw;
  align-self: flex-end;
  align-content: flex-end;
}
#header-about h1{
  flex-wrap: wrap;
  align-items: flex-end;
}
#header-about p{
  font-size: 2rem;
  flex-wrap: wrap;
  align-content: flex-end;
}
#main-about{
  flex-wrap: wrap;
  display: flex;
  width: 80vw;
  height: 75vh;
  justify-content: space-around;
  align-content: space-around;
  justify-items: center;
}
#main-about section{
  width: 100vw;
  font-family: 'Kanit', sans-serif;
  justify-content: space-around;
}
.section-a{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  width: 10vw;
  background-color: #A7ECEE;
}
.about-h3 {
  width: 50vw;
}
.img-a {
  height: 20vh;
  object-fit: contain;
}

#h3{
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  height: 20vh;
  align-items: center;
}
.a-ab{
  text-decoration: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

/* Contacts */
#body-c{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}
#header-c{
  display: flex;
  width: 100vw;
  height: 17vh;
  flex-wrap: wrap;
  align-content: flex-end;
}
#header-c>div{
  display: flex;
  flex-wrap: wrap;
  width: 45vw;
  height: 10vh;
  align-content: flex-start;
  justify-content: space-between;
}
#main-c{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 80vh;
  align-items: center;
  justify-content: space-around;
}
#section-c{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  align-content: space-around;
  background-color: #A7ECEE;
}
#section-c h3{
  display: flex;
  font-size: 2rem;
  height: 10vh;
  align-items: center;
  font-family: 'Kanit', sans-serif;
}
#div-a-c{
  display: flex;
  width:60vw;
  height: 5vh;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #A7ECEE;
}
.a-c{
  text-decoration: none;
  font-size: 2rem;
}

/* Information */
#body-inf{
  justify-content: space-around;
}
#main-inf{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 60vh;
  justify-content: center;
}
table{
  text-align: center;
  width: 60vw;
  border: solid rgb(51, 59, 2) 1rem;
  font-size: 2rem;
  border-collapse: collapse;
  background-color: #A7ECEE;
}
td{
  border: solid rgb(51, 59, 2) 1rem;
  font-family: 'Kanit', sans-serif;
}
thead{
  height: 10vh;
}
th{
  font-weight: bolder;
}
td:hover {background-color: rgb(82, 41, 27);}


/* BenefitsTips */
#main-bnf{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 75vh;
  justify-content: space-around;
   flex-direction: column;
  background-color: #A7ECEE;
}
#main-bnf div{
  width: 80vw;
  height: 30vh;
}
.div-bnf{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 45vw;
  height: 35vh;
  align-items: center;
}
.div-bnf img{
  object-fit: cover;
  width: 30vw;
  height: 30vh;
}
#list-bnf{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  background-color: #A7ECEE;
}
ol{
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 10vw;
  flex-direction: column;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
  font-size: 2rem;
}
.list-bnf>ul{
  display: flex;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  list-style-type:square;
  color: black;
  padding-left: 2rem;
  height: 20vh;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-evenly;
}
#body-bnf{
  justify-content: space-evenly;
}
  
/* Raffle */
#main-raff{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#section-raff{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60vw;
  height:78vh;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  background-color: #A7ECEE;
}
#map-raff{
  height: 60vh;
  width: 35vw;
}
#form-raff{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 78vh;
  background-color: #A7ECEE;
}
#field-1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 23vw;
  height: 28vh;
  justify-content: space-around;
}
#field-1 input, label, select{
  width: 10vw;
  font-size: 1rem;;
}
#field-1 label{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  height: 4vh;
  align-items: center;
}
#field-2{
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  height: 20vh;
  width: 23vw;
}
#field-2 div{
  width: 15vw;
  font-family: 'Kanit', sans-serif;
}
#field-2>label{
  font-size: 1rem;
  font-weight: 300;
}
#field-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 23vw;
}
#field-3 h4{
  font-size: 1.8rem ;
}
#field-4{
  display: flex;
  width: 23vw;
  justify-content: space-between;
}
#field-4 input{
  height: 2vh;
}
#send{
  width: 4vw;
}
#field-4 label{
  width: 18vw;
  height: 2vh;
}
fieldset{
  background-color: transparent;
  border-color: transparent;
}
textarea{
  resize:none ;
}